<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfm.wiki.mapper.EbookMapper">

    <resultMap id="BaseResultMap" type="com.kfm.wiki.model.Ebook">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="category1Id" column="category1_id" jdbcType="BIGINT"/>
        <result property="category2Id" column="category2_id" jdbcType="BIGINT"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="cover" column="cover" jdbcType="VARCHAR"/>
        <result property="docCount" column="doc_count" jdbcType="INTEGER"/>
        <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
        <result property="voteCount" column="vote_count" jdbcType="INTEGER"/>
        <result property="href" column="href" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,category1_id,
        category2_id,description,cover,
        doc_count,view_count,vote_count,
        href
    </sql>

    <select id="selectAllWithCategory" resultType="com.kfm.wiki.model.EbookDTO">
        select e.*, c.name category1_name, c1.name category2_name
        from ebook e
                 left join category c on e.category1_id = c.id
                 left join category c1 on e.category2_id = c1.id
        <where>
            <if test="name != null">
                and e.name = '%${name}'
            </if>
            <if test="category2Id != null">
                and e.category2_id = #{category2Id}
            </if>
        </where>
    </select>
</mapper>
